<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SITE_NAME}</title>
<!--<link href="{$BASE_URL_ADMIN}_template/css/templatemo_style.css" rel="stylesheet" type="text/css" />-->
<link href="{$BASE_URL_ADMIN}_template/css/style.css" rel="stylesheet" type="text/css" />
<!--<link rel="stylesheet" type="text/css" href="{$BASE_URL_ADMIN}_template/css/tabcontent.css" />
<script type="text/javascript" src="{$BASE_URL_ADMIN}_templates/js/tabcontent.js"></script>-->
<script src="{$BASE_URL_ADMIN}_templates/js/jquery_mini.js" type="text/javascript"></script>
</head>
<body>
<div id="templatemo_content_container">
        <div id="templatemo_content">
<div id="templatemo_content_left">
				
                <div class="templatemo_post_wrapper">
                <div class="templatemo_post">
                  <div class="show"></div>
<div id="cerceve">
<div class="header">
  <div class="text" style="float:left">USER LOGIN</div><div class="close" style="float:right;margin-right:20px;cursor:pointer;">x</div></div>
<div class="formbody">
<form action="" method="post">
<input type="text" name="username" placeholder="Username" class="text" style="background:url({$BASE_URL_ADMIN}_template/images/username.png) no-repeat;" />
<input type="password" name="password" placeholder="••••••••••••" class="text" style="background:url({$BASE_URL_ADMIN}_template/images/password.png) no-repeat;" />
<input type="submit" value="Sign In" class="submit" style="background:url({$BASE_URL_ADMIN}_template/images/login.png) no-repeat;" />
</form>
</form>
</div>
</div> 
              
			</div>
			</div> <!-- End of a post--><!-- End of a post-->
			
		</div>
<!-- end of content left -->
	
		<div id="templatemo_content_right">
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
		  <p>&nbsp;</p>
	  </div> 
		<!-- end of right content -->
	</div> 
	<!-- end of content -->
</div> 
<!-- end of content container -->

<div id="templatemo_bottom_panel">
  <div id="templatemo_bottom_section">
            <div class="templatemo_bottom_section_content">
                <h3>&nbsp;</h3>
</div>
            
    <div class="templatemo_bottom_section_content">
                <h3>&nbsp;</h3>
</div>
    	</div>
    </div> <!-- end of templatemo bottom panel -->
</body>
</html>