<!--demo content for facebox-->
<div id="modaldemo" style="display:none;">
 <ul class="inbox">
  <li> 
   <!--Avatar--> 
   <img alt="avatar" class="avatar" src="{$BASE_URL_ADMIN}_template/img/user.png" width="35" height="35"/> 
   <!--Author-->
   <div class="author"> <a href="#"></a>
    <h4><a href="#">Username</a></h4>
   </div>
   <!--Meta-->
   <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
   <!--Body-->
   <div class="body">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
   </div>
  </li>
  <!--separator-->
  <li class="separator"></li>
  <li> 
   <!--Avatar--> 
   <img alt="avatar" class="avatar" src="{$BASE_URL_ADMIN}_template/img/user.png" width="35" height="35"/> 
   <!--Author-->
   <div class="author"> <a href="#"></a>
    <h4><a href="#">Username</a></h4>
   </div>
   <!--Meta-->
   <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
   <!--Body-->
   <div class="body">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
   </div>
  </li>
  <!--separator-->
  <li class="separator"></li>
  <li> 
   <!--Avatar--> 
   <img alt="avatar" class="avatar" src="{$BASE_URL_ADMIN}_template/img/user.png" width="35" height="35"/> 
   <!--Author-->
   <div class="author"> <a href="#"></a>
    <h4><a href="#">Username</a></h4>
   </div>
   <!--Meta-->
   <div class="meta"> <a href="#">January 22, 2011 at 4:43 pm</a> - <a href="#">Reply</a> </div>
   <!--Body-->
   <div class="body">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla sapien, quis luctus felis. Fusce sodales tempus tincidunt. </p>
   </div>
  </li>
 </ul>
</div>