@charset "utf-8";
body {
	background:url(../images/bg.png) #3c4447 repeat;
	font-family:Arial,"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size:13px;
	margin:0;padding:0;
}
.wrapper{margin:0;padding:0;}
.loginWrap{margin:80px auto; width:850px;padding:80px 0;background:url(../images/iphone.png) no-repeat right;}
.loginBox{width:356px;background:#fff;border-radius:3px;padding:10px;border:solid 2px rgb(32, 32, 32);margin-left:50px;}
.formbody{
	width:356px;
	background-color:#f0eef0;
}
.header{
	background:#2f3b49;
	height:63px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	line-height:60px;
	padding-left:15px;
	text-shadow:1px 1px rgba(53,16,56,0.5);
	color:#fff;
	font-weight:bold;
}


form .text{
	width:250px;
	height:52px;
	margin:20px auto auto 22px;
	outline:none;
	font-weight:bold;
	padding:0 32px;
	border:0;
	color:#a9a9bc;
}

form .text.username{background:url(../images/username.png) no-repeat right}
form .text.password{background:url(../images/password.png) no-repeat right}
form .submit{
	width:100px;
	height:40px;
	margin:10px 20px 10px 22px;
	background:#2f3b49;
	font-weight:bold;
	text-shadow:1px 1px rgba(53,16,56,0.5);
	color:#fff;
	cursor:pointer;
	border:0;
	float:right;
}
form a{
	text-decoration:none;
	color:#a9a9bc;
	font-size:14px;
	font-weight:bold;
	text-shadow:1px 1px rgba(255,255,255,0.75);
}
form label.error{text-align:center;display:block;margin:0;padding:0;color:#f00;font-size:10px;}
div.error-message{background:#ff396c url(../images/error-knob.png) 4px center no-repeat;border:solid thin #ff0000;padding:8px 8px 8px 36px;color:#fff;border-radius:2px;margin:3px 0;}
.show{
	background:url(../images/show_window.png) no-repeat left;
	cursor:pointer;
	width:16px;
	height:16px;
}
#cerceve{
	margin:150px auto 0 auto;
	width:350px;
	height:0px;
}
.clear{clear:both;}
.main-content-wrap{border-bottom:solid thin #eaeaea;width:1200px;margin:0 auto;padding:0;}
.main-content-wrap .logo-section{height:50px;border:solid thin #fff;margin:0;padding:5px;}
.main-content-wrap .logo-section form{float:right;}
.main-content-wrap .logo-section form input[type=text]{height:30px;border-radius:3px;border:none;width:200px;padding:2px 5px;}
.main-content-wrap .logo-section form input[type=submit]{height: 30px;border-radius: 3px;margin-left: -76px;background-color: rgb(0, 31, 255);border: none;color: #fff;padding: 0 15px;cursor:pointer;}
.navigator ul{margin:0;padding:0;}
.navigator li{list-style: none;display:inline-block;padding:10px;margin:0;}
.navigator li.last{float:right;}
.navigator li a{padding:8px 20px;background-color:#eaeaea;font-weight:bold;text-decoration:none;}
.username-profile{margin-top:50px;}
.username-profile img{float:left;vertical-align:top;margin-right:10px;}
.username-profile h2{float:left;text-transform:uppercase;font-size:32px;margin:10px 0 0;}
.username-profile h2 span{display:block;font-size:16px;color:#f0f0f3;text-transform:capitalize;}




.footer{display:block;padding:10px 0;background:#eaeaea;border-top:solid rgb(32, 32, 32) 3px;margin:0;position:fixed;bottom:0;width:100%;text-align:center;border-top:solid 10px rgb(32, 32, 32);}

