/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #4c4c4c;
}

a:link, a:visited { color: #990000; text-decoration: none; } 
a:active, a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0px;
	padding: 10px;
	font-size: 60px;
	color: #000000;;
}

h2 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #dbc1a7;
	border-bottom: 1px dotted #663e17;
}

h3 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #a6703c;
	border-bottom: 1px dotted #663e17;
}

p {
	margin: 0px;
	padding: 0 0 10px 0;
	text-align: justify;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;	
}

/* ----- Form ----- */

form{
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: right;
}

.inputfield{
	background: #ffffff;
	border: 1px solid #c9f5f6;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 14px;
	line-height: normal;
	padding: 4px;
	margin-bottom: 5px;
	width: 240px;
}

.button{
	width: 60px;
	height: 25px;
}

/* end of form */


#templatemo_header_panel{
	width:100%;
	margin: 0 auto;
	background: url(images/mobilizerrepeater.png) repeat;
	color: #FFFFFF;
	height: 205px;
}

#templatemo_header_panel #templatemo_title_section{
	width: 960px;
	height: 132px;	/* +73 ( padding ) */
	margin:0 auto;
	padding-top: 73px;
	background: url(images/mobilizerbanner.png) center top no-repeat;
	text-align: center;
}

#templatemo_menu_panel{
	width:100%;
	height: 45px;	
	margin: 0 auto;
	background: url(images/menu.gif) repeat-x;
	color: #ffffff;
}

#templatemo_menu_panel #templatemo_menu_section{
	width: 930px;
	height: 45px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
}

#templatemo_menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#templatemo_menu_section ul li{
	display: inline;
}

#templatemo_menu_section ul li a{
	float: left;
	width: 110px;
	padding: 5px 0;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #377285;
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current{
	color: #ffffff;
	border-bottom: 3px solid #DE6C0E;
	font-size: 14px;
}
/* end of menu */

/* content panel */
#templatemo_content_container {
	overflow: hidden;
	height: 100%;
	width:100%;
	margin: 0 auto;
	background: url(images/BG.gif) repeat;
}

#templatemo_content_container #templatemo_content{
	width: 1000px;
	padding: 15px 0 0 30px;
	margin:0 auto;
}

#templatemo_content_left {
	float: left;
	width: 200px;
	margin: 0px;
	margin-bottom: 1px;
	padding-top: -66px;
	height: 12px;
	padding-left: 35px;
	padding-bottom: -44px;
}

#templatemo_content_right {
	float: right;
	width: 400px;
	margin-bottom: 30px;
	color: #dbc1a7;
	background: url(images/iphone.png);
	padding-left: 44px;
}



* html #templatemo_content_left .templatemo_post {
	margin-bottom: 5px;
}

.templatemo_post .post_title{
	width: 100%;
	margin: 0px;
	padding: 5px 0;
	font-size: 26px;
	font-weight: bold;
	color: #1a0d00;
}

.templatemo_post .post_info{
	width: 100%;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #333333;
	margin-bottom: 15px;
}

.templatemo_post .post_body{
	width: 100%;
}

.templatemo_post .post_body img{
	margin-bottom: 15px;
}

.templatemo_post .post_comment{
	width: 100%;
	padding: 5px 0;
	font-weight: bold;
}

#templatemo_content_right .templatemo_right_section{
	clear: both;
	display:inline-block;
	width: 250px;
	color: #bd8956;
	padding: 5px 15px 10px 15px;
	margin-bottom: 10px;
	border-bottom: 1px solid #684018;
}

#templatemo_content_right .templatemo_right_section form{
	padding: 0 0 15px 0;
}

#templatemo_content_right .templatemo_right_section ul{
	clear: both;
	margin: 0 0 0 15px;
	padding: 0px;
}

#templatemo_content_right .templatemo_right_section ul li{
	margin: 0 0 5px 0;
}

#templatemo_content_right .templatemo_right_section ul li a {
	color: #dbc1a7;
}

#templatemo_bottom_panel{
	width:100%;
	margin: 0 auto;
	border-top: 5px solid #000000;
	background-color: #b8b8b8;
}

#templatemo_bottom_panel #templatemo_bottom_section{
	width: 930px;
	margin:0 auto;
	height: 150px;	
	background: #b8b8b8 url(images/templatemo_footer_bg.png) center top no-repeat;
	padding: 30px 0 15px 30px;
}

#templatemo_bottom_section .templatemo_bottom_section_content {
	display: inherit;
	float: left;
	width: 270px;
	padding-right: 20px;
	margin-left: 10px;
	margin-bottom: 15px;
	color: #b8b8b8;
}

#templatemo_bottom_section .templatemo_bottom_section_content ul{
	margin: 0 0 0 10px;
	padding: 0 0 5px 10px;
}

#templatemo_bottom_section .templatemo_bottom_section_content li a{
	color: #b8b8b8;
}

#templatemo_footer_panel{
	width:100%;
	margin: 0 auto;
	background-color: #b8b8b8;
	color: #ffffff;
}

#templatemo_footer_panel #templatemo_footer_section{
	width: 960px;
	margin:0 auto;
	text-align: center;
	padding: 15px;
}

#templatemo_footer_panel #templatemo_footer_section a {
	color:#b8b8b8;
}
